<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.fjnu501.mapper.OrderMapper">

    <insert id="addOrderInfo" parameterType="order">
        insert into bank_order values (#{oid}, #{cid}, #{uid}, #{type}, #{amount})
    </insert>

    <select id="getAllOrdersByUid" parameterType="int" resultType="order">
        select * from bank_order where uid = #{uid}
        UNION
        SELECT tr.transfer_id, tr.cid, c.uid, tr.type, tr.amount FROM `transfer_trade` as tr
                                                                          JOIN bank_card as c
                                                                          JOIN customer as u
                                                                               ON c.cid = tr.cid and u.uid = c.uid and u.uid = #{uid}
    </select>

    <resultMap id="bankTradeMap" type="transferTrade">
        <id column="id" property="tradeId"/>
        <result column="card_id" property="cid"/>
        <result column="amount" property="amount"/>
        <result column="transfer_id" property="transferId"/>
        <result column="type" property="type"/>
    </resultMap>

    <select id="checkTransferTradeInfo" parameterType="int" resultMap="bankTradeMap">
        select * from transfer_trade where transfer_id = #{id}
    </select>

    <insert id="addTransferTradeInfo" parameterType="transferTrade">
        insert into transfer_trade values (#{tradeId}, #{transferId}, #{amount}, #{type}, #{cid})
    </insert>

    <resultMap id="transferTradeMap" type="order">
        <id column="transfer_id" property="oid"/>
        <result column="cid" property="cid"/>
        <result column="amount" property="amount"/>
        <result column="type" property="type"/>
        <result column="uid" property="uid"/>
    </resultMap>

    <select id="getAllTransferTradeInfo" parameterType="int" resultMap="transferTradeMap">
        SELECT tr.transfer_id, tr.cid, c.uid, tr.type, tr.amount FROM `transfer_trade` as tr
                                                                          JOIN bank_card as c
                                                                          JOIN customer as u
                                                                               ON c.cid = tr.cid and u.uid = c.uid and u.uid = #{uid}
    </select>

</mapper>